<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:fragment="menu">
    <h3 th:text="#{menu}"></h3>
    <a sec:authorize="isAnonymous()" th:href="@{/login}" th:text="#{login}"></a><br/>
    <a th:href="@{/register}" th:text="#{register}"></a><br/>
    <a sec:authorize="isAuthenticated()" th:href="@{/applicant/application}", th:text="#{link_applicant}"></a><br/>
    <a sec:authorize="isAuthenticated()" th:href="@{/recruiter/applications}", th:text="#{link_recruiter}"></a><br/>
</div>
</body>
</html>