<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: page(~{::body})">

<body>
<div class="container-fluid">
    <div class="row text-center">
        <br/>
<div th:if="${param.error}">
    <p th:text="#{invalid_credentials}"></p>
</div>
<div th:if="${param.logout}">
    <p th:text="#{logout_message}"></p>
</div>

<form th:action="@{/login}" method="post">
    <div><input type="text" name="username" th:placeholder="#{username}"/></div>
    <div><input type="password" name="password" th:placeholder="#{password}"/></div>
    <div><input type="submit" th:value="#{sign_in}"/></div>
</form>
    </div></div>
<div id="overlay" th:if="${param.new}" onclick="off()">
    <div id="overlay-text" th:text="#{reg_success}"></div>
</div>
<script>
    function off() {
        document.getElementById("overlay").style.display = "none";
    }
</script>
</body>
</html>
