<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head><div th:replace="fragments/header :: header-css"> </div></head>
<body>
<div th:replace="fragments/header :: header"> </div>
<div th:if="${param.error}">
    <p th:text="#{invalid_credentials}"></p>
</div>
<div th:if="${param.logout}">
    <p th:text="#{logout_message}"></p>
</div>
<form th:action="@{/login}" method="post">
    <div><input type="text" name="username" th:placeholder="#{username}"/></div>
    <div><input type="password" name="password" th:placeholder="#{password}"/></div>
    <div><input type="submit" th:value="#{sign_in}"/></div>
</form>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
